* {
    box-sizing: border-box; 
}



/* MEYERWEB - RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* __________________________ DESKTOP __________________________ */

html {overflow:auto;}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    
    
}
/* NAVIGATIONSMENU */

header{
    width: 100%;
}



/* video baggrund */ 

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
   
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    
  }

  .fullscreen-bg__video {
    display: none;
  }
}








nav {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    z-index: 100;
    text-align: right;
    position: fixed;
    padding-right: 3%;
}

nav li {
    list-style: none none;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block;
}

nav a {
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color: black;
}

nav a:active{
    text-decoration: none;
    color: black;  
}

nav a:visited{
    text-decoration: none;
}

nav .current {
    color: black;
}

nav .others {
    color: gray;
}

/* SEKTIONER */

.hold{
    width: 100%;
    display: inline-block;
     background-color: rgba(0, 100, 140, 1);
}

.holdtekst{
    width: 50%;
    text-align: center;
    display: inline-block;
    float: left;
}

.holdtekst img{
    padding-top: 2%;
    padding-bottom: 2%;
}

.holdtekst img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.07); 
    display: inline-block;
	$outerBorderWidth: 4px;
	$innerBorderWidth: 4px;

	position: relative;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();
}


#sectioninfo {
    width: 100%;
   background-color: rgba(0, 100, 140, 1);
}

#sectioninfo img {
    width: 18%;
     position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}


#logo {
  width: 60%;
    position:absolute;
    top:0;
    left:0%;
    right:0;
    bottom:0;
    margin:auto;
    padding: auto;
}

#logo {
  animation: stroke-reveal 5s ease;
  
  
}


@keyframes stroke-reveal {
  from {
    opacity: 0.5;
      width: 20%;
  
     
  }
  to {
      
  }
}



#h1 {
    font-family: 'source sans pro', bold; 
}

#tekst1 {
    position: absolute;
    font-size: 80px;
    left: 30%;
    padding: -5%;
    bottom: 40%;
}


#tekst2 {
    position: absolute;
    font-size: 80px;
    left: 25%;
    padding: 5%;
    bottom: 20%;
}

